body {
  margin: 0;
  font-family: 'Brush Script MT', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.List {
  padding-top: 10%;
  background-image: url("./assets/spiral-notebook-paper-texture.jpg");
  background-size: cover;
  overflow: hidden;
}

.Indent {
  margin-left: 10% !important;
}

.Title {
  text-align: center;
  padding: 1%;
}

.mb-3 {
  margin-top: .5%;
  margin-bottom: -1% !important;
}
